<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>eventAddDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C52594CB1CFD4FE70098D9A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C52594E41CFD4FE70098D9A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C52594EF1CFD4FE70098D9A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
